/* Accent color */
:root {
  --grayblue: #163C57;
  --red: #F5260A;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--red);
}

.button,
button,
input[type="submit"] {
  background-color: var(--grayblue);
  border-color: var(--grayblue);
}

.button:hover {
  background-color: #3C1657;
  border-color: #3C1657;
}


#header {
  background-color: #0f172a;  /* dark slate */
}


#banner {
  background-color: #020617;
}

#banner h2,
#banner p {
  color: #e5e7eb;
}
