/* Accent color */
:root {
  --grayblue: #163C57;
  --royalblue: #2339B8;
  --lighttan: #F7EDED;
}

a {
  color: var(--grayblue);
}

a:hover {
  color: var(--red);
}

.button,
button,
input[type="submit"] {
  background-color: var(--grayblue);
  border-color: var(--grayblue);
}

.button:hover {
  background-color: #3C1657;
  border-color: #3C1657;
}


#header {
  background-color: var(--grayblue);
}


#banner {
  background-color: var(--grayblue);
}

#banner h2,
#banner p {
  color: #e5e7eb;
}
